In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("logs_dataset.csv")
df

                         @timestamp                   _id  ip_address
0       July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1       July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2       July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3       July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4       July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60
...                             ...                   ...         ...
721542  June 9th 2019, 00:00:25.000  dkWJOWsBoTGddM7vRUOR   10.1.2.66
721543  June 9th 2019, 00:00:19.000  TBuJOWsB7mP0GwVzLmol  10.1.1.249
721544  June 9th 2019, 00:00:15.000  vUWJOWsBoTGddM7vHkGD  10.1.1.200
721545  June 9th 2019, 00:00:09.000  aUWJOWsBoTGddM7vB0AR  10.1.2.432
721546  June 9th 2019, 00:00:05.000  AEWIOWsBoTGddM7v90Bw  10.1.2.156

[721547 rows x 3 columns]

In [4]:
df.head()

                    @timestamp                   _id  ip_address
0  July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1  July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2  July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3  July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4  July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [6]:
df.shape

(721547, 3)